// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet');



// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~animate.css/animate.css";
@import  'scss/sb-admin-2.scss';



.topbar {
    height: 3.375rem;
}
.shadow-sm {
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.29) !important;
}

.form-control:focus {
  border-color: #5b6be8;
  box-shadow: none;
}

.has-success .form-control {
  border-color: #3cab94;
  box-shadow: none;
}
.btn{
    box-shadow: 0 14px 24px 0 rgba(50,48,57,.25);
-webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
-o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover{
    box-shadow: 0 1px 2px 0 rgba(50,48,57,.5);
}

.has-warning .form-control {
  border-color: #f5b225;
  box-shadow: none;
}


.has-error .form-control {
  border-color: #ec536c;
  box-shadow: none;
}
.bg-login-image {
    background-position: 50%;
    background-size: cover;
}
.card-header{
    color: #f8f9fa;
}

form.user .btn-user,form.user .form-control-user{

}

.alert-session{
    background-color: #4CAF50;
    color: white;
    z-index: 900000;
     box-shadow: 0 14px 24px 0 rgba(50,48,57,.25);
     border-radius: 0;

}

.alert-danger{
    background-color: red;
    color: white;
    z-index: 900000;
     box-shadow: 0 14px 24px 0 rgba(50,48,57,.25);
     border-radius: 0;
}